* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f7f7ff;
}
.main-container {
  margin: 0 auto;
  width: 800px;
}

.content {
  display: flex;
}

.header {
  margin: 4px 0 32px;
  font-size: 32px;
  color: #ea526f;
}

.side-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.side-bar .reset-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.side-bar .reset-buttons button {
  height: 32px;
  width: 172px;
  font-size: 16px;
  font-weight: bold;
  color: #f7f7ff;
  background-color: #ea526f;
  border: none;
  border-radius: 4px;
}

.side-bar .reset-button button:active {
  background-color: #dcdce3;
}

.side-bar .color-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
}

.side-bar .color-options button {
  margin: 32px 32px 0 0;
  width: 50px;
  height: 50px;
}

.grid {
  box-sizing: content-box;
  height: 600px;
  width: 600px;
  border: 1px solid #070600;
  display: flex;
  flex-wrap: wrap;
}

.pixel{
  border: 1px solid #07060011;
}

.colored {
  background-color: #070600;
}
